svgx_engine/schema/svgx_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:arx="http://arxos.io/svgx"
           targetNamespace="http://arxos.io/svgx"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Import SVG namespace -->
  <xs:import namespace="http://www.w3.org/2000/svg"
              schemaLocation="http://www.w3.org/2000/svg.xsd"/>

  <!-- SVGX Extensions -->

  <!-- Precision attribute for geometric elements -->
  <xs:attribute name="precision" type="xs:string" default="1mm">
    <xs:annotation>
      <xs:documentation>
        Precision for geometric calculations (e.g., "0.1mm", "1cm")
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <!-- Layer attribute for spatial organization -->
  <xs:attribute name="layer" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Layer name for spatial organization (e.g., "electrical", "mechanical")
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <!-- Object element for semantic markup -->
  <xs:element name="object">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="geometry" type="arx:geometryType" minOccurs="0"/>
        <xs:element name="tags" type="arx:tagsType" minOccurs="0"/>
        <xs:element name="behavior" type="arx:behaviorType" minOccurs="0"/>
        <xs:element name="physics" type="arx:physicsType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="system" type="xs:string"/>
      <xs:attribute name="upstream" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <!-- Geometry type -->
  <xs:complexType name="geometryType">
    <xs:attribute name="x" type="xs:decimal"/>
    <xs:attribute name="y" type="xs:decimal"/>
    <xs:attribute name="z" type="xs:decimal"/>
    <xs:attribute name="width" type="xs:string"/>
    <xs:attribute name="height" type="xs:string"/>
    <xs:attribute name="depth" type="xs:string"/>
  </xs:complexType>

  <!-- Tags type -->
  <xs:complexType name="tagsType">
    <xs:sequence>
      <xs:element name="tag" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Behavior type -->
  <xs:complexType name="behaviorType">
    <xs:sequence>
      <xs:element name="variables" type="arx:variablesType" minOccurs="0"/>
      <xs:element name="calculations" type="arx:calculationsType" minOccurs="0"/>
      <xs:element name="triggers" type="arx:triggersType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Variables type -->
  <xs:complexType name="variablesType">
    <xs:sequence>
      <xs:element name="variable" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:decimal">
              <xs:attribute name="name" type="xs:string" use="required"/>
              <xs:attribute name="unit" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Calculations type -->
  <xs:complexType name="calculationsType">
    <xs:sequence>
      <xs:element name="calculation" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="name" type="xs:string" use="required"/>
              <xs:attribute name="formula" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Triggers type -->
  <xs:complexType name="triggersType">
    <xs:sequence>
      <xs:element name="trigger" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="event" type="xs:string" use="required"/>
          <xs:attribute name="action" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Physics type -->
  <xs:complexType name="physicsType">
    <xs:sequence>
      <xs:element name="mass" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:decimal">
              <xs:attribute name="unit" type="xs:string" default="kg"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="anchor" type="xs:string" minOccurs="0"/>
      <xs:element name="forces" type="arx:forcesType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Forces type -->
  <xs:complexType name="forcesType">
    <xs:sequence>
      <xs:element name="force" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="type" type="xs:string" use="required"/>
          <xs:attribute name="direction" type="xs:string"/>
          <xs:attribute name="value" type="xs:decimal"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- System element -->
  <xs:element name="system">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="component" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
